{% extends '_layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/edit-appointment.css"/>
{% endblock %}

{% block content %}
    <form id="delete-form" action="/appointment/delete?appointment_id={{ appoinment_id }}" method="POST"
          style="display:none;">
    </form>
    <div class="body-wrapper">
        <div class="new-appointment">
            <p class="new-appointment__header">{{ title }}</p>
            <form method="POST" action="/appointment/update?appointment_id={{ appoinment_id }}" class="new-appointment__form">
                <div class="field">
                    <label for="master">Мастер</label>
                    <select id="master" name="master">
                        <option>Выберите мастера</option>
                        {% for master in masters %}
                            {% if master_id == master.id %}
                                <option selected value="{{ master.id }}">{{ master.fullName }}</option>
                            {% else %}
                                <option value="{{ master.id }}">{{ master.fullName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </ul>
                </div>
                <div class="field">
                    <label for="client">Клиент</label>
                    <select id="client" name="client">
                        <option>Выберите клиента</option>
                        {% for client in clients %}
                            {% if client_id == client.id %}
                                <option selected value="{{ client.id }}">{{ client.fullName }}</option>
                            {% else %}
                                <option value="{{ client.id }}">{{ client.fullName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="date">Дата</label>
                    <input id="date" name="date" type="datetime-local" value="{{ dateValue|date('Y-m-d H:i:s') }}"><br>
                </div>
                <div class="buttons">
                    <button class="button" onclick='document.querySelector(".new-appointment__form").submit();'>Обновить
                    </button>
                    <button class="delete" type="button" onclick='document.getElementById("delete-form").submit();'>Удалить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}