{% extends '_layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/new-appointment.css"/>
{% endblock %}

{% block content %}
    <div class="body-wrapper">
        <div class="new-appointment">
            <p class="new-appointment__header">{{ title }}</p>
            <form method="POST" action="/appointment/create" class="new-appointment__form">
                <div class="field">
                    <label for="master">Мастер</label>
                    <select id="master" name="master">
                        <option>Выберите мастера</option>
                        {% for master in masters %}
                            {% if master_id == master.id %}
                                <option selected value="{{ master.id }}">{{ master.fullName }}</option>
                            {% else %}
                                <option value="{{ master.id }}">{{ master.fullName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </ul>
                </div>
                <div class="field">
                    <label for="client">Клиент</label>
                    <select id="client" name="client">
                        <option>Выберите клиента</option>
                        {% for client in clients %}
                            {% if client_id == client.id %}
                                <option selected value="{{ client.id }}">{{ client.fullName }}</option>
                            {% else %}
                                <option value="{{ client.id }}">{{ client.fullName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="date">Дата</label>
                    <input id="date" name="date" type="datetime-local"><br>
                </div>
                <button type="submit" class="button">Создать</button>
            </form>
        </div>
    </div>
{% endblock %}